@font-face {
  font-family: "IntroCond";
  src: local("IntroCond"),
    url(./fonts/Intro\ Cond\ Light\ Free.otf) format("opentype");
}
/* 
ul {
  padding: 0;
} */

li {
  list-style-type: none;
  display: list-item;
}

.selected {
  border-bottom: 2px solid red;
}

a {
  text-decoration: none;
}
.main-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
  /* background: red; */
  border-bottom: 1px solid var(--grey);
}

.logo {
  display: grid;
  min-height: 76px;
  align-items: center;
  flex: 1;
  width: 100%;
}

.logo h1 {
  margin: 0 40px;
  cursor: pointer;
  font-size: 24px;
  line-height: 32px;
  width: 60%;
}

.logo h1 span {
  display: block;

  color: var(--black);
}
.nav-container {
  width: 100%;
  z-index: 1;
  flex: 9;
}

.nav-ul {
  display: flex;
  justify-content: center;
  list-style-position: inside;
  list-style-type: none;
  height: 100%;
}

.nav-item {
  text-align: center;
  min-width: 155px;
  max-width: 250px;
  font-size: 14px;
  cursor: pointer;

  flex-grow: 1;
}

.nav-item-title {
  color: var(--black);
  font-size: 14px;
  padding: 20px 0;
  display: inline-block;
  margin: 0;
  font-weight: 400;
}
