@font-face {
  font-family: "IntroCond";
  src: local("IntroCond"),
    url(./fonts/Intro\ Cond\ Light\ Free.otf) format("opentype");
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: list-item;
}

a {
  text-decoration: none;
}

.main-container {
  width: 100vw;

  border-bottom: 1px solid var(--grey);

  display: flex;
}

.logo {
  /* flex: 1 1 auto; */
  /* text-align: center; */
  /* min-height: 76px; */
  /* align-items: center; */
}

.logo h1 {
  cursor: pointer;
  font-size: 24px;
  line-height: 32px;
  width: 100%;
}

.logo h1 span {
  color: var(--black);
}

.flex-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* width: 100%; */
}
.nav-container {
  padding: 10px 40px 10px 10px;
  /* background-color: red; */
  /* height: 76px; */
  width: 100vw;
  height: 79px;
  margin: 0;
  /* border-bottom: 1px solid var(--grey); */
}

.nav-ul {
  display: flex;
  justify-content: center;
  list-style-position: inside;
  list-style-type: none;
  height: 100%;
}

.nav-item {
  /* text-align: end; */
  /* min-width: 155px; */
  /* max-width: 250px; */
  font-size: 14px;
  cursor: pointer;
  /* display: flex;
  flex-flow: row-reverse; */
}

.nav-item-title {
  color: var(--black);
  font-size: 14px;
  padding: 20px 30px;

  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.navQuotes {
  height: 100%;
}

.buttonQuote {
  color: var(--black);
  font-size: 14px;
  padding: 20px 0;
  display: inline-block;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 7px 16px;
}

.quoteText:hover {
  background: linear-gradient(90deg, var(--pink), var(--burgandy));
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-clip: clone;
  background-clip: text;
}

.buttonQuoteColor {
  /* background-color: var(); */
  border: 1px solid var(--beige);
}
