.main {
  position: absolute;
  overflow-y: hidden;
}

.card-container {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  margin-top: 20%;
}
.card-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
