@font-face {
  font-family: "IntroCond";
  src: local("IntroCond"),
    url(./fonts/Intro\ Cond\ Light\ Free.otf) format("opentype");
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: list-item;
}

.selected {
  border-bottom: 2px solid red;
}

a {
  text-decoration: none;
}
.main-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
  /* background: red; */
  border-bottom: 1px solid var(--grey);
}

.logo {
  display: grid;
  min-height: 70px;
  align-items: center;
  flex: 1;
  width: 100%;
  margin-right: 20;
}
.nav-container {
  width: 100%;
  z-index: 1;
  flex: 8;
}

.nav-ul {
  display: flex;
  justify-content: center;
  list-style-position: inside;
  list-style-type: none;
  height: 100%;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
  min-width: 155px;
  max-width: 250px;
  cursor: pointer;
}

.nav-item-title {
  color: var(--black);
  font-size: 16px;
  padding: 16px 0;
  display: inline-block;
  margin: 0;
  font-weight: 400;
}
