@font-face {
    font-family: "IntroCond";
    src: local("IntroCond"), url(./fonts/Intro\ Cond\ Light\ Free.otf) format("opentype");
}

ul {
    padding: 0;
}
  
li {
    list-style-type: none;
}

.nav {
    width: 100%;
    background-color: black;
    height: 75px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid white;
    margin-block-start: 0;
    margin-block-end: 0;
}

.nav-create-content {
    height: 96%;
}

.home-link {
    margin: 0 60px 0 25px;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }

.nav-link {
    margin: 0 60px 0 60px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.create-link {
    margin-top: 20px;
    width: 130px;
    justify-content: center;
    text-align: center;
}

.nav li :hover {
    color: white;
    transition: 0.3s;
}

a:hover { 
    text-shadow: 0 0 5px #ff0000;
}

.selected {
    border-bottom: 2px solid red;
}